* {
    margin: 0;
}
html,body,#page, header { height:100%;}
body{
  padding:0;margin:0;
  padding-top: 50px;
  font-family: "Minion Pro";

}
#map {
  height: 590px;
}
/* General sizing */
ul.dropdown-lr {
  width: 300px;
}

/* mobile fix */
@media (max-width: 768px) {
	.dropdown-lr h3 {
		color: #eee;
	}
	.dropdown-lr label {
		color: #eee;
	}
}

i>h3{
  display: inline;
  padding-left: 15px;

}

.jumbotron{
  text-align: center;
  background: transparent;
}

.navbar-inverse .navbar-brand{
  color: #fff;
}
.collapse>.navbar-right>li>a{
  color:#fff;
}

.navbar-inverse{
  background-color: #000;
  border-color: #000;
}
